<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>JpushServerTest</display-name>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>SendServlet</servlet-name>
    <servlet-class>cn.jpush.api.examples.SendServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>SearchUser</servlet-name>
    <servlet-class>SearchUser</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>GroupManager</servlet-name>
    <servlet-class>GroupManager</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>TimeSchedule</servlet-name>
    <servlet-class>TimeSchedule</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>SearchHistory</servlet-name>
    <servlet-class>SearchHistory</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AlarmServlet</servlet-name>
    <servlet-class>AlarmServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>GroupServlet</servlet-name>
    <servlet-class>GroupServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>insertGroup</servlet-name>
    <servlet-class>insertGroup</servlet-class>
  </servlet>








  <servlet-mapping>
    <servlet-name>SendServlet</servlet-name>
    <url-pattern>/SendServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SearchUser</servlet-name>
    <url-pattern>/SearchUser</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GroupManager</servlet-name>
    <url-pattern>/GroupManager</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TimeSchedule</servlet-name>
    <url-pattern>/TimeSchedule</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SearchHistory</servlet-name>
    <url-pattern>/SearchHistory</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AlarmServlet</servlet-name>
    <url-pattern>/AlarmServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GroupServlet</servlet-name>
    <url-pattern>/GroupServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>insertGroup</servlet-name>
    <url-pattern>/insertGroup</url-pattern>
  </servlet-mapping>
</web-app>